.pokemon-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.scrollLink {
  display: flex;
  position: fixed;
  right: 2%;
  top: 50%;
  flex-direction: column;
}

.scrollButton {
  background-color: black;
}
