.hallOfFame {
  /* background-color: rgba(255, 255, 255, 0.795); */
  z-index: 10;
  display: flex;
  min-width: 45%;
  height: auto;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hof {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  width: 85%;
  z-index: 10;
  top: 0;
  animation: fadeIn 0.8s ease-in;
}

.hof-list {
  opacity: 0.85;
  background: radial-gradient(
    circle,
    #e6bc2f 50%,
    rgba(0, 0, 0, 0.25252107679009106) 100%
  );
  background-color: rgba(0, 0, 0, 0);
  background-color: #e95030;
  width: 100%;
  box-shadow: 10px 10px 22px -13px rgba(217, 212, 14, 0.75);
  -webkit-box-shadow: 10px 10px 42px -13px rgba(217, 212, 14, 0.75);
  -moz-box-shadow: 10px 10px 22px -13px rgba(217, 212, 14, 0.75);
  border-color: gold;
  transition: all 0.75s;
  margin: auto;
  padding-bottom: 10%;
  text-align: center;
  list-style: none;
  margin: auto;
  padding: 0;
  font-size: 1.2em;
}

.hof-list-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  box-shadow: 0px -5px 5px 0px rgba(255, 215, 0, 0.5) inset;
  -webkit-box-shadow: 0px -5px 5px 0px rgba(255, 215, 0, 0.5) inset;
  -moz-box-shadow: 0px -5px 5px 0px rgba(255, 217, 0, 0.507) inset;
}
.hof-list-item-image {
  width: auto;
}

@media only screen and (max-width: 600px) {
  .hallOfFame {
    margin: auto;
    width: 100%;
  }
  .hof {
    width: 100%;
  }
  .hof-list {
    width: 100%;
  }
}

.hof-list-item {
  margin: auto;
}
.hof-list-item-image {
  padding-bottom: 0;
}
