.hallOfFame {
  background-color: rgba(255, 255, 255, 0.795);
}

.hof-list {
  background-color: rgba(50, 156, 50, 0.788);
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}
