.pokemonList {
  display: flex;
  margin: auto;
  justify-content: center;
}
.fightContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: hsla(217, 55%, 48%, 0.712);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 10vh;
  width: 100%;
  text-align: center;
  margin: auto;
  border: 2px solid #ffcd00;
  color: rgb(255, 255, 255);
}
.winner {
  width: 100%;
  z-index: 1000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.winner-reset {
  transition: all 0.4s;
  cursor: pointer;
}
.winner-reset:hover {
  color: yellow;
  text-decoration: underline;
}
.choose {
  transition: all 0.4s;
  font-weight: bold;
  color: #fdcc04;
  background-color: rgb(68, 101, 153);
  margin: auto;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding: 10px;
}
.choose:hover {
  text-decoration: underline;
  background-color: rgb(31, 76, 148);
}

.fighter1,
.fighter2 {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokeCenter {
  display: flex;
  flex-direction: column;
}
.fighter1 .pokeFighter .pokeCenter {
  flex-direction: column-reverse;
}

.hof {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  width: 85%;
  z-index: 10;
  top: 0;
}
.hof-span-div {
  text-align: center;
  margin: 1em;
  max-height: 80vh;
}
.hof-span {
  font-size: 0.8em;
  cursor: pointer;
  transition: all 0.4s;
  color: white;
}
.hof-span:hover {
  color: yellow;
  text-decoration: underline;
  font-size: 0.9rem;
}
.versus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.versus-vs {
  color: #ffcd00;
  font-weight: bold;
  font-size: 2em;
}
.fightButtons {
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;
}
.fightButtons button {
  padding: 8% 0%;
  margin: 5% 0%;
  background: none;
  font-family: inherit;
  transition: all 0.4s;
  min-width: 70%;
}

.fightButtons1 button {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  color: #fdcc04;
}
.fightButtons1 button:hover,
button:active {
  background-color: white;
  color: rgb(255, 0, 0);
}
.fightButtons2 button:hover {
  background-color: rgb(207, 36, 36);
  color: white;
}
.fightButtons2 button {
  color: rgb(247, 78, 78);
  border-bottom: 1px solid rgba(245, 148, 148, 0.5);
  border-top: 1px solid rgba(245, 148, 148, 0.5);
}

@media only screen and (max-width: 600px) {
  .fight-container {
    font-size: 0.8em;
  }
  .fighter1 {
    font-size: 0.8rem;
  }
  .fighter2 {
    font-size: 0.8rem;
  }
  .winner {
    font-size: 0.8rem;
  }
  .hof {
    width: 95%;
  }
}
