.App {
  width: 85%;
  margin: auto;
  z-index: -1;
  font-family: 'Lexend Mega', sans-serif;
  display: flex;
  justify-content: center;
}

header {
  width: 100%;
  text-align: center;
  padding-top: 1%;
  height: auto;
  margin: 10px auto;
}
.logo {
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

@media only screen and (max-width: 600px) {
  .App {
    width: 95%;
  }
}
