.App {
  width: 85%;
  margin: auto;
  z-index: -1;
}

header {
  width: 100%;
  text-align: center;
  padding-top: 1%;
  height: auto;
}
.logo {
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
}
