.landingPage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.img-welcome {
  max-width: 50%;
}

.img-title {
  max-width: 100%;
}

.img-press {
  max-width: 50%;
}
